.poke-list-item {
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    list-style: none;
    padding: 10px;
    position: relative;
}

.poke-list-item:hover {
    border: 1px solid #FFF;
}

.poke-list-item img{
    width: 55px;
}
