#poke-filter {
    background-color: #666;
    border: 0;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #FFF;
    left: 10%;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 250px;
    z-index: 5;
}
  
#poke-filter:focus{
    outline: none;
}

#poke-filter::placeholder {
    color: #CCC;
}

.selected-pkm {
    left: 8%;
    position: fixed;
    top: 100px;
}

.not-selected-pkm {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    left: 5%;
    position: fixed;
    top: 100px;
}

.not-selected-pkm h1 {
    color: #FF0000B0;
    text-transform: uppercase;
    width: 50%;
}

.not-selected-pkm ul.list-one {
    margin: 0;
    padding: 0;
}

.not-selected-pkm .list-one>li {
    list-style: none;
}
  
.poke-list {
    display: grid;
    float: right;
    gap: 25px;
    grid-template-columns: repeat(3, 25%);
    margin-top: 50px;
    opacity: 0.95; 
    text-transform: capitalize;
    width: 55%;
}
