<div class="poke-container" [style.background]="backgroundColorStats">
    <app-loading *ngIf="isLoading"></app-loading>

    <div *ngIf="!isLoading" class="poke-profile">
        <div class="screen-profile">
            <div>{{ pokemonNumber | myNumber }} - {{ pokemon.name }}</div>
            <img src="//serebii.net/sunmoon/pokemon/{{pokemonNumber | myNumber}}.png" alt="Pokemon" class="poke-sprite">
            
            <ul class="poke-types">
                <li *ngFor="let type of pokemon.types">
                    <img src="//serebii.net/pokedex-bw/type/{{type.name}}.gif" />
                </li>
            </ul>
        </div>
    </div>

    <div *ngIf="!isLoading" class="stats">
        <div class="stats-item">
            <span>Attack</span>
            <div class="container-progress-bar">
                <div class="progress-bar" [style.width.%]="pokemon.attack" [style.background]="backgroundColor"></div>
            </div>
        </div>

        <div class="stats-item">
            <span>Defense</span>
            <div class="container-progress-bar">
                <div class="progress-bar" [style.width.%]="pokemon.defense" [style.background]="backgroundColor"></div>
            </div>  
        </div>

        <div class="stats-item">
            <span>Sp Atk</span>
            <div class="container-progress-bar">
                <div class="progress-bar" [style.width.%]="pokemon.sp_atk" [style.background]="backgroundColor"></div>
            </div>
        </div>

        <div class="stats-item">
            <span>Sp Defense</span>
            <div class="container-progress-bar">
                <div class="progress-bar" [style.width.%]="pokemon.sp_def" [style.background]="backgroundColor"></div>
            </div>
        </div>

        <div class="stats-item">
            <span>Speed</span>
            <div class="container-progress-bar">
                <div class="progress-bar" [style.width.%]="pokemon.speed" [style.background]="backgroundColor"></div>
            </div>
        </div>
    </div>
</div>
